<footer class="footer">
  <nav class="nav-footer">
      <ul class="lista-footer">
          <li class="contenido-lista-footer">
              Legal
          </li>
          <li class="contenido-lista-footer">
              Cookies
          </li>
          <li class="contenido-lista-footer">
              Información sobre los anuncios
          </li>
      </ul>
  </nav>
  
  <div class="copy-footer">
      <span>
          España
          <img class="logo-bandera" src="./assets/images/es.svg" alt="bandera de españa">
      </span>
      <p class="copy-copy">
          © 2019 Sptify AB
      </p>
  </div>  

</footer>