<header class="header">
  <img class="logo" src="./assets/images/logo.png" alt="Logo Spotify">
  <img class="hamburguesa" src="./assets/images/menu-icon.png" alt="hamburguesa desplegable">
  
  <nav class="menu">
      <ul class="menu-list">
          <li class="menu-item">
              Premium
          </li>
          <li class="menu-item">
              Ayuda
          </li>
          <li class="menu-item">
              Descargar
          </li>
          <li class="menu-item linea-vertical-menu">
              Registrarse
          </li>
          <li class="menu-item">
              Iniciar Sesión
          </li>
      </ul>
  </nav>
  
  </header>