<section class="funcionalidades">
    <h2>
        ¿Por qué pasarte a Premium?
    </h2>
    <section class="lista-funcionalidades">
        <include src="./funcionalidad.html" logo="./assets/images/benefit-1.png" logo-alt="logo descarga musica"
            title="Descarga la música." text="Llévala siempre contigo.">
        </include>
        <include src="./funcionalidad.html" logo="./assets/images/benefit-2.png" logo-alt="logo sin anuncios"
            title="Sin anuncios." text="Disfruta de música sin interrupciones.">
        </include>
        <include src="./funcionalidad.html" logo="./assets/images/benefit-3.png" logo-alt="logo escucha lo que quieras."
            title="Escucha lo que quieras." text="Incluso en el móvil">
        </include>
        <include src="./funcionalidad.html" logo="./assets/images/benefit-4.png" logo-alt="logo salta las canciones"
            title="Salta las canciones que quieras." text="Simplemente dale a siguiente.">
        </include>
    </section>
</section>
</main>