<main>
    <section class="hero">
        <h1 class="hero-title">
            Pueba premium gratis 3 meses
        </h1>
        <p class="hero-text">
            Escucha millones de canciones sin anuncios, a la carta y sin conexión.
        </p>
        <div class="hero-button">
            VER PLANES
            <!-- no se si tendría que ir en minusculas y darle la forma en el CSS o puede ir así directamente -->
        </div>
        <small class="hero-note">
            Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que
            ya hayan probado Premium.
        </small>
    </section>